:root {
    --max-width: 1100px;
    --primary-color: #16151b;
    --primary-visible-color: #fbfbfb;
    --secondary-color: #fbfbfb;
    --secondary-visible-color: #16151b;
    --border-radius: 15px;
}
